<div style="text-align:center">
  <!-- DIRECTIVE -->
  <h1 changeText>
    <!-- DATA BINDING -->
    <b>Welcome to {{title | uppercase}}!</b><br/>
    <b>Welcome to {{title | lowercase}}!</b>
  </h1>
</div>

<!-- EVENT BINDING -->
<h1>EVENT BINDING</h1>
<div> Months :
  <select (change) = "changemonths($event)" name = "month">
     <option *ngFor="let i of months">{{i}}</option>
  </select>
</div>

<div>
  <span *ngIf="isavailable; then condition1 else condition2">Condition is valid.</span>
  <!-- TEMPLATE -->
  <ng-template #condition1>Condition is valid from template</ng-template>
  <ng-template #condition2>Condition is invalid from template</ng-template>
</div>

<!-- EVENT BINDING -->
<button (click)="myClickFunction($event)">
  Click Me
</button>

<!-- PIPES -->
<h1>PIPES</h1>
<div>
  <div>
     <h1>Uppercase Pipe</h1>
     <b>{{title | uppercase}}</b><br/>
     
     <h1>Lowercase Pipe</h1>
     <b>{{title | lowercase}}</b>
     
     <h1>Currency Pipe</h1>
     <b>{{6589.23 | currency:"USD"}}</b><br/>
     <b>{{6589.23 | currency:"USD":true}}</b> //Boolean true is used to get the sign of the currency.
     
     <h1>Date pipe</h1>
     <b>{{todaydate | date:'d/M/y'}}</b><br/>
     <b>{{todaydate | date:'shortTime'}}</b>
     
     <h1>Decimal Pipe</h1>
     <b>{{ 454.78787814 | number: '3.4-4' }}</b> // 3 is for main integer, 4 -4 are for integers to be displayed.
  </div>
  
  <div>
     <h1>Json Pipe</h1>
     <b>{{ jsonval | json }}</b>
     <h1>Percent Pipe</h1>
     <b>{{00.54565 | percent}}</b>
     <h1>Slice Pipe</h1>
     <b>{{months | slice:2:6}}</b> 
     // here 2 and 6 refers to the start and the end index
  </div>
</div>

<h1>Custom Pipe</h1>
<b>Square root of 25 is: {{25 | sqrt}}</b>
<br/>
<b>Square root of 729 is: {{729 | sqrt}}</b>

<!-- ROUTING -->
<h1>ROUTING</h1>
<a routerLink = "new-cmp">New component</a>
<br/>
<br/>
<router-outlet></router-outlet>

{{todaydate}}

<!-- HTTP SERVICE -->
<h1>HTTP SERVICE</h1>
<ul *ngFor = "let data of httpdata">
  <li>Name : {{data.name}} Address: {{data.address.city}}</li>
</ul>

{{name}}

<!-- FORMS -->
<br>
<br>
<div>
  <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
     <input type = "text" class = "fortextbox" name = "emailid" placeholder = "emailid" 
        formControlName = "emailid">
     <br/>
     <input type = "password" class = "fortextbox" name = "passwd" 
        placeholder = "passwd" formControlName = "passwd">
     <br/>
     <input type = "submit" [disabled] = "!formdata.valid" class = "forsubmit" 
        value = "Log In">
  </form>
</div>
<p>
  Email entered is : {{emailid}}
</p>

<!-- ANIMATIONS -->
<br>
<br>
<div>
  <button (click)="animate()">Click Me</button>
  <div [@myanimation] = "state" class="rotate">
     <img src="assets/images/img.png" width="100" height="100">
  </div>
</div>

<!-- MATERIALS -->
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
   <button mat-menu-item>
      File
   </button>
   <button mat-menu-item>
      Save As
   </button>
</mat-menu>

<mat-sidenav-container class="example-container">
   <mat-sidenav #sidenav class="example-sidenav">
      Angular 4
   </mat-sidenav>
      
   <div class="example-sidenav-content">
      <button type="button" mat-button  (click)="sidenav.open()">
         Open sidenav
      </button>
   </div>
</mat-sidenav-container>

<mat-form-field>
  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>